<h1>Count words in string!</h1>

<form action="/numword">
  <div class="form-group">
    <label class="form-label" for="phrase">Please enter a string:</label>
    <input id="phrase" name="phrase" class="form-control" type="text" placeholder="enter text here" autofocus>
  </div>
  <button type="submit" class="butt">Go!</button>
</form>
