<h1>Word Count</h1>

<form action="/wordcount">
  <div class="form-group">
    <label class="form-label" for="phrase">Text to search through:</label>
    <input id="phrase" name="phrase" class="form-control" type="text" autofocus>
  </div>
  <div class="form-group">
    <label class="form-label" for="word">Word to count:</label>
    <input id="word" name="word" class="form-control" type="text" autofocus>
  </div>
    <button type="submit" id="button-go">Go!</button>
</form>
