<h1>Word Count</h1>

<form action="/wordcount">
  <div class="form-group">
    <label class="form-label" for="phrase">Please enter some text:</label>
    <input id="phrase" name="phrase" class="form-control" type="text" autofocus>
  </div>
  <div class="form-group">
    <label class="form-label" for="word">Please enter a word to be counted:</label>
    <input id="word" name="word" class="form-control" type="text" autofocus>
  </div>
    <button type="submit" class="button-go">Go!</button>
</form>
